.signin-container{
    display: inline-flex;
    border: solid 1px rgb(29, 93, 109);
    position: absolute;
    top: 10%;
    left: 25%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.log-account{
    background: rgb(29, 93, 109);
    text-align: center;
    padding: 40px;
}

.log-text{
    color: white;
    width: 200px;
}

.log-text, .login-button{
    position: relative;
    top: 30%;
}

.login-button button{
    background: rgb(29, 93, 109);
    color: white;
    border: solid 1px white;
    border-radius: 3px;
    padding: 10px;
}

.login-button button:hover{
    background: white;
    color: rgb(29, 93, 109);
}

.form-container{
    display: inline-block;
    padding: 20px 80px;
}

.form-container h3{
    text-align: center;
    padding: 5px;
}

.input-container{
    margin-bottom: 12px;
}

.input-container div{
   margin-bottom: 3px;
}

.input-container label, .form-container h3{
    color: rgb(29, 93, 109);
}

input{
    border: solid 1px rgb(114, 113, 113);
    border-radius: 3px;
    height: 25px;
    width: 250px;
}

input:focus:required:valid{
    border: solid 1px rgb(29, 93, 109);
    height: 25px;
    border-radius: 3px;
}


input:focus:required:invalid{
    border: solid 1px rgb(179, 48, 15);
    height: 25px;
    border-radius: 3px;
}

:-moz-submit-invalid {
    box-shadow: none;
}
  
:-moz-ui-invalid {
    box-shadow: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

.submit-btn{
    text-align: center;
}

.submit-btn button{
    border: none;
    background:rgb(29, 93, 109);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

.submit-btn button:hover{
    background: white;
    color: rgb(29, 93, 109);
    border: solid 1px rgb(29, 93, 109);
}